/* WebStudio index.html */

:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --background: #2f303a;
}

body {
  background: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.02;
}

/* Logotype */

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03;
}
.logo .style {
  color: var(--accent-color);
}

/* Header navigation */

.nav-container {
  background-color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}
.nav {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.nav .list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav .item:not(:last-child) {
  margin-right: 50px;
}
.nav .link:hover {
  color: var(--accent-color);
}
.nav .link.current {
  color: var(--accent-color);
}
.nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: var(--primary-text-color);
}
.auth .link:hover {
  color: var(--accent-color);
}
.auth {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.auth .item:not(:last-child) {
  margin-right: 50px;
}
.auth .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: var(--secondary-text-color);
}

/* Section Hero */
.page-main {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  background-color: var(--background);
  text-align: center;
}
.hero .title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
}
.hero .button {
  background-color: var(--accent-color);
  color: var(--white-color);
  width: 216px;
  height: 50px;
  padding: 10px, 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.hero .button:hover {
  background-color: #188ce8;
}

/* Section Skill */

.skill {
  background-color: #757575;
}
.skill .title-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}
.skill .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.skill .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.skill .text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Section Services */

.service .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.service .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Section Developer */

.developer {
  background-color: #f5f4fa;
}
.developer .list {
  list-style: none;
}
.developer .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.developer .list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.developer .text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

/* Portfolio.html */

/* Section Filter */

.filter .list {
  list-style: none;
}
.title-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}
.filter .button {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter .button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Section Card */

.card {
  list-style: none;
}
.card .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.card .text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

/* Footer navigation */

footer {
  background-color: var(--background);
}
.logotype {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logotype .style {
  color: var(--accent-color);
}

/* Address */

.address {
  font-style: normal;
}
.address .style {
  color: var(--white-color);
}
.address .list {
  list-style: none;
}
.address .link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
